<!DOCTYPE html>
<html lang="it">

<head>
    <title>Site home page</title>
    <meta charset="utf-8">
    <meta name="author" content="Emanuele Rizzolo">
    <meta name="description" content="Home page per modello di sito web">
    <link rel="stylesheet" href="css/core.css">
    <script src="js/core.js"></script>
</head>

<body>
    <img src="images/Logo_Levi-Ponti_small.PNG" alt="Logo dell'Istituto Levi-Ponti">
    <h1>Semplice modello strutturale di sito web</h1>
    <a href="html/main.html"> main.html </a> <br>
    <a href="html/calcolatrice.html">Calcolatrice </a><br>
    <a href="html/fillzone.html">Fillzone </a>

    </ul>
</body>

</html>